<div>
  <div class="header">
    <h1>Welcome to ConnectNow</h1>
    <p>Connect instantly via video and chat. Join or create your own private room!</p>
    <input type="text" id="username" placeholder="Enter your name" required />
  </div>

  <div class="main">
    <div class="section">
      <h2>Join Room</h2>
      <form id="joinForm">
        <input type="text" id="roomId" placeholder="Room ID" required />
        <input type="password" id="password" placeholder="Password" required />
        <button id="joinbtn" type="submit">Join Room</button>
      </form>
    </div>

    <div id="createRoomDiv" class="section" style="justify-items: center;">
      <h2>Create Room</h2>
      <button id="createRoomBtn">Create Room</button>
    </div>
  </div>
</div>
